{{define "main"}}
<div class="container pt-5">
    {{ partial "carousel" . }}
    {{.Content}}
</div>
<div class="card bg-dark  text-center text-white">
    <div class="card-header">
        <h3>Featured</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Special Offers</h5>
        <p class="card-text">Get up to 50% discounts to Your bills.</p>
        <a href="/promo" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
        Dapatkan sekarang juga!
    </div>
</div>
{{end}}