{{define "main"}}
<!-- Swiper -->
<div class="swiper-container my-5">
    <h2 class="text-dark text-center">BEFORE AFTER PORTFOLIO</h2>
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/images/eksteriorbefore1_1.jpg" alt="Nano Ceramic Coating"
                class="img-responsive"></div>
        <div class="swiper-slide"><img src="/images/eksteriorbefore1_1.jpg" alt="Nano Ceramic Coating"
                class="img-responsive"></div>
        <div class="swiper-slide"><img src="/images/eksteriorbefore1_1.jpg" alt="Nano Ceramic Coating"
                class="img-responsive"></div>
        <div class="swiper-slide"><img src="/images/eksteriorbefore1_1.jpg" alt="Nano Ceramic Coating"
                class="img-responsive"></div>
        <div class="swiper-slide"><img src="/images/eksteriorbefore1_2.jpg" alt="Nano Ceramic Coating"
                class="img-responsive"></div>
        <div class="swiper-slide"><img src="/images/eksteriorbefore1_3.jpg" alt="Nano Ceramic Coating"
                class="img-responsive"></div>
        <div class="swiper-slide"><img src="/images/eksteriorbefore1_4.jpg" alt="Nano Ceramic Coating"
                class="img-responsive"></div>
        <div class="swiper-slide"><img src="/images/eksteriorbefore1_5.jpg" alt="Nano Ceramic Coating"
                class="img-responsive"></div>
        <div class="swiper-slide"><img src="/images/eksteriorbefore1_6.jpg" alt="Nano Ceramic Coating"
                class="img-responsive"></div>
        <div class="swiper-slide"><img src="/images/eksteriorbefore1_7.jpg" alt="Nano Ceramic Coating"
                class="img-responsive"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
</div>
{{end}}