{{define "main"}}
<!-- Swiper -->
<div id="s1" class="swiper-container my-5">
    <h2 class="text-dark text-center">BEFORE AFTER PORTFOLIO</h2>
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/images/mesin1_1.jpg" alt="Nano Ceramic Coating" class="img-responsive">
        </div>
        <div class="swiper-slide"><img src="/images/mesin1_1.jpg" alt="Nano Ceramic Coating" class="img-responsive">
        </div>
        <div class="swiper-slide"><img src="/images/mesin1_1.jpg" alt="Nano Ceramic Coating" class="img-responsive">
        </div>
        <div class="swiper-slide"><img src="/images/mesin1_1.jpg" alt="Nano Ceramic Coating" class="img-responsive">
        </div>
        <div class="swiper-slide"><img src="/images/mesin1_1.jpg" alt="Nano Ceramic Coating" class="img-responsive">
        </div>
        <div class="swiper-slide"><img src="/images/mesin1_1.jpg" alt="Nano Ceramic Coating" class="img-responsive">
        </div>
        <div class="swiper-slide"><img src="/images/mesin1_1.jpg" alt="Nano Ceramic Coating" class="img-responsive">
        </div>
        <div class="swiper-slide"><img src="/images/mesin1_1.jpg" alt="Nano Ceramic Coating" class="img-responsive">
        </div>
        <div class="swiper-slide"><img src="/images/mesin1_1.jpg" alt="Nano Ceramic Coating" class="img-responsive">
        </div>
        <div class="swiper-slide"><img src="/images/mesin1_1.jpg" alt="Nano Ceramic Coating" class="img-responsive">
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
{{end}}