<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="/images/icon.png" rel="shortcut icon">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nano Ceramic Coating Mobil Jakarta - Mark Auto Detailing</title>
	<meta name="description"
		content="Nano Ceramic Coating untuk mobil Terbaik dari Beeds Premium Ceramic Paint Treatment, dengan ketahanan hingga 5 tahun dan bergaransi. Timbulkan karakter asli dari warna mobil Anda, lindungi dengan nano ceramic coating untuk efek Wet Look.">
	<link href="https://markautodetailing.co.id/" rel="canonical" />



	<meta itemprop="name" content="Nano Ceramic Coating untuk Mobil Jakarta &amp;amp; Bandung">
	<meta itemprop="description"
		content="Nano Ceramic Coating untuk mobil Terbaik dari Beeds Premium Ceramic Paint Treatment, dengan ketahanan hingga 5 tahun dan bergaransi. Timbulkan karakter asli dari warna mobil Anda, lindungi dengan nano ceramic coating untuk efek Wet Look.">



	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Nano Ceramic Coating untuk Mobil Jakarta &amp;amp; Bandung" />
	<meta name="twitter:description"
		content="Nano Ceramic Coating untuk mobil Terbaik dari Beeds Premium Ceramic Paint Treatment, dengan ketahanan hingga 5 tahun dan bergaransi. Timbulkan karakter asli dari warna mobil Anda, lindungi dengan nano ceramic coating untuk efek Wet Look." />

	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!-- Flexslider  -->

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

	<style>
		html,
		body {
			position: relative;
			height: 100%;
		}

		body {
			background: #eee;
			font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
			font-size: 14px;
			color: #000;
			margin: 0;
			padding: 0;
		}

		.swiper-container {
			width: 100%;
			height: 70%;
		}

		.swiper-slide {
			text-align: center;
			font-size: 18px;
			background: #fff;

			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
		}
	</style>
	<!-- Modernizr JS -->
	<script src="/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<div id="page">
		{{partial "header" .}}



		<!-- Swiper -->
		<div class="swiper-container pt-5">
			<h2 style="text-align: center; padding: 1em 0; margin-bottom: 0">BEFORE AFTER PORTFOLIO</h2>
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="/images/interior1_1.jpg" alt="Nano Ceramic Coating" class="img-responsive"></div>
				<div class="swiper-slide"><img src="/images/interior1_2.jpg" alt="Nano Ceramic Coating" class="img-responsive"></div>
				<div class="swiper-slide"><img src="/images/interior1_3.jpg" alt="Nano Ceramic Coating" class="img-responsive"></div>
				<div class="swiper-slide"><img src="/images/interior1_4.jpg" alt="Nano Ceramic Coating" class="img-responsive"></div>
				<div class="swiper-slide"><img src="/images/interior1_5.jpg" alt="Nano Ceramic Coating" class="img-responsive"></div>
				<div class="swiper-slide"><img src="/images/interior1_6.jpg" alt="Nano Ceramic Coating" class="img-responsive"></div>
				<div class="swiper-slide"><img src="/images/interior1_7.jpg" alt="Nano Ceramic Coating" class="img-responsive"></div>
				<div class="swiper-slide"><img src="/images/interior1_8.jpg" alt="Nano Ceramic Coating" class="img-responsive"></div>
				<div class="swiper-slide"><img src="/images/interior1_9.jpg" alt="Nano Ceramic Coating" class="img-responsive"></div>
				<div class="swiper-slide"><img src="/images/interior1_10.jpg" alt="Nano Ceramic Coating" class="img-responsive"></div>
			</div>
		</div>
		<!-- slider gagal
		<div class="beforeafter" style="padding-top:7em">
			<h2 style="text-align: center; padding: 1em 0; margin-bottom: 0">BEFORE AFTER PORTFOLIO</h2>

			<div class="slideshow">
				<div class="container">

					<div class="mySlidez">
						<div class="numbertext">1 / 6</div>
						<img alt="Nano Ceramic Coating Terbaik Jakarta picture" title="Coating Mobil Terbaik Jakarta"
							src="/images/interior1_1.jpg" style="width:100%">
					</div>

					<div class="mySlidez">
						<div class="numbertext">2 / 6</div>
						<img alt="Nano Ceramic Coating Terbaik Jakarta picture" title="Coating Mobil Terbaik Jakarta"
							src="/images/interior1_2.jpg" style="width:100%">
					</div>

					<div class="mySlidez">
						<div class="numbertext">3 / 6</div>
						<img alt="Nano Ceramic Coating Terbaik Jakarta picture" title="Coating Mobil Terbaik Jakarta"
							src="/images/interior1_3.jpg" style="width:100%">
					</div>

					<div class="mySlidez">
						<div class="numbertext">4 / 6</div>
						<img alt="Nano Ceramic Coating Terbaik Jakarta picture" title="Coating Mobil Terbaik Jakarta"
							src="/images/interior1_4.jpg" style="width:100%">
					</div>

					<div class="mySlidez">
						<div class="numbertext">5 / 6</div>
						<img alt="Nano Ceramic Coating Terbaik Jakarta picture" title="Coating Mobil Terbaik Jakarta"
							src="/images/interior1_5.jpg" style="width:100%">
					</div>

					<div class="mySlidez">
						<div class="numbertext">6 / 6</div>
						<img alt="Nano Ceramic Coating Terbaik Jakarta picture" title="Coating Mobil Terbaik Jakarta"
							src="/images/interior1_6.jpg" style="width:100%">
					</div>

					<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSlides(1)">&#10095;</a>

					<div class="caption-container">
						<p id="caption"></p>
					</div>

					<div class="row">
						<div class="column">
							<img class="demo cursor" title="Coating Mobil Terbaik Jakarta" src="/images/interior1.jpg"
								style="width:100%" onclick="currentSlide(1)" alt="BMW 435 BEFORE AFTER">
						</div>
						<div class="column">
							<img class="demo cursor" title="Coating Mobil Terbaik Jakarta" src="/images/interior2.jpg"
								style="width:100%" onclick="currentSlide(2)" alt="CAMRY BEFORE AFTER">
						</div>
						<div class="column">
							<img class="demo cursor" title="Coating Mobil Terbaik Jakarta" src="/images/interior3.jpg"
								style="width:100%" onclick="currentSlide(3)" alt="FORTUNER BEFORE AFTER">
						</div>
						<div class="column">
							<img class="demo cursor" title="Coating Mobil Terbaik Jakarta" src="/images/interior4.jpg"
								style="width:100%" onclick="currentSlide(4)" alt="JAZZ BEFORE">
						</div>
						<div class="column">
							<img class="demo cursor" title="Coating Mobil Terbaik Jakarta" src="/images/interior5.jpg"
								style="width:100%" onclick="currentSlide(5)" alt="JAZZ AFTER">
						</div>
						<div class="column">
							<img class="demo cursor" title="Coating Mobil Terbaik Jakarta" src="/images/interior6.jpg"
								style="width:100%" onclick="currentSlide(6)" alt="ACCORD BEFORE AFTER">
						</div>
					</div>
				</div>
			</div>
			-->
		<h2 style="text-align: center;margin-top: 2em;">CHOOSE</h2>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<a href="/interior"><img alt="Nano Ceramic Coating Terbaik Jakarta picture"
							title="Coating Mobil Terbaik Jakarta image" class="lazy img-responsive"
							data-src="/images/interior.jpg"></a>
					<div class="btn-beforeafter">
						<a href="/interior" class="btn btn-primary btn-outline">INTERIOR</a>
					</div>
				</div>
				<div class="col-md-4">
					<a href="/exterior"><img alt="Nano Ceramic Coating Terbaik Jakarta picture"
							title="Coating Mobil Terbaik Jakarta " class="lazy img-responsive"
							data-src="/images/eksterior.jpg"></a>
					<div class="btn-beforeafter">
						<a href="/exterior" class="btn btn-primary btn-outline">EKSTERIOR</a>
					</div>
				</div>
				<div class="col-md-4"><a href="/engine"><img alt="Nano Ceramic Coating Terbaik Jakarta picture"
							title="Coating Mobil Terbaik Jakarta " class="lazy img-responsive"
							data-src="/images/mesin.jpg"></a>
					<div class="btn-beforeafter">
						<a href="/engine" class="btn btn-primary btn-outline">ENGINE BAY</a>
					</div>
				</div>
			</div>
		</div>
		<div class="typeform-widget" data-url="https://form.typeform.com/to/zA3dvq?typeform-medium=embed-snippet"
			style="width: 100%; height: 500px;"></div>
		<script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>


		{{partial "footer" .}}
		<!-- Initialize Swiper -->
		<script>
			var swiper = new Swiper('.swiper-container', {
				slidesPerView: 'auto',
				spaceBetween: 30,
				grabCursor: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
			});
		</script>

</body>

</html>