{{define "main"}}
<!-- Swiper -->
<div class="swiper-container my-5">
	<h2 style="text-align: center; padding: 1em 0; margin-bottom: 0">BEFORE AFTER PORTFOLIO</h2>
	<div class="swiper-wrapper">
		<div class="swiper-slide"><img src="/images/interior1_1.jpg" alt="Nano Ceramic Coating" class="img-responsive">
		</div>
		<div class="swiper-slide"><img src="/images/interior1_2.jpg" alt="Nano Ceramic Coating" class="img-responsive">
		</div>
		<div class="swiper-slide"><img src="/images/interior1_3.jpg" alt="Nano Ceramic Coating" class="img-responsive">
		</div>
		<div class="swiper-slide"><img src="/images/interior1_4.jpg" alt="Nano Ceramic Coating" class="img-responsive">
		</div>
		<div class="swiper-slide"><img src="/images/interior1_5.jpg" alt="Nano Ceramic Coating" class="img-responsive">
		</div>
		<div class="swiper-slide"><img src="/images/interior1_6.jpg" alt="Nano Ceramic Coating" class="img-responsive">
		</div>
		<div class="swiper-slide"><img src="/images/interior1_7.jpg" alt="Nano Ceramic Coating" class="img-responsive">
		</div>
		<div class="swiper-slide"><img src="/images/interior1_8.jpg" alt="Nano Ceramic Coating" class="img-responsive">
		</div>
		<div class="swiper-slide"><img src="/images/interior1_9.jpg" alt="Nano Ceramic Coating" class="img-responsive">
		</div>
		<div class="swiper-slide"><img src="/images/interior1_10.jpg" alt="Nano Ceramic Coating" class="img-responsive">
		</div>
	</div>
	<!-- Add Pagination -->
	<div class="swiper-pagination"></div>
	<!-- Add Arrows -->
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</div>
{{end}}