{{define "main"}}
<main>
    <div class="page-header bg-dark mt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-4" style="background-color: black; padding: 0"
                    data-animate-effect="fadeInLeft">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/6aqtHe033go"
                            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube-nocookie.com/embed/6aqtHe033go?autoplay=1><img src=https://img.youtube.com/vi/6aqtHe033go/hqdefault.jpg alt='Video The Dark Knight Rises: What Went Wrong? – Wisecrack Edition'><span>▶</span></a>"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                            title="The Dark Knight Rises: What Went Wrong? – Wisecrack Edition"></iframe>
                    </div>
                    <br>
                </div>
                <br>
                <div class="col-md-5 col-md-push-1">
                    <div class="header">
                        <h3>ABOUT MARK INDONESIA</h3>
                        <p>Mark Auto Detailing menghadirkan pelindung eksterior kendaraan dengan tekhnologi German Dan
                            Jepang. Didukung oleh tenaga profesional yang memiliki pengalaman lebih dari 5 tahun, kami
                            memberikan perlindungan yang bermutu untuk kendaraan anda. Perlindungan dari MARK adalah
                            yang terbaik karena merupakan produk laminating mobil yang sudah disertifikasi</p>

                        <p>Segera lindungi aset kendaraan anda sekarang juga, tidak perlu lagi
                            khawatir soal jamur air, noda membandel, baret halus, warna kusam, rusak akibat kotoran
                            burung, cat bolong akibat kerikil.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin:0; width:100%; padding:1em">
        <div class="instagram text-center">
            <h2>MARK <strong>PORTOFOLIO</strong></h2>
            <a href="https://www.instagram.com/markautodetailingid/">
                <img class="lazy" data-src="/images/stein-instagram2.jpg" width="100%">
            </a>
        </div>
    </div>

    <div class="container text-center"
        style=" background: linear-gradient(to bottom, white 13%, black 58%); width: 100%; padding-top: 0; margin: 0; padding-bottom:30px">
        <br>
        <h2>MARK <strong>LINE UP</strong></h2>
        <div class="col-md-5">
            <img class="lazy" data-src="/images/franchiseindonesia14.png" width="100%">
        </div>
        <div class="col-md-7" style="margin-top: 2em">

            <div class="faq"
                style="background-image: url('/images/background-faq.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
                <div class="container">
                    <ul class="acc">
                        <div class="text-center">
                            <h3 style="color: white">WHAT EVER YOUR CAR IS.. THE CHOICE FALLS ON
                                <STRONG>MARK</STRONG>
                            </h3>
                        </div>
                        <li>
                            <button class="acc_ctrl">
                                <h2>MERCEDES BENZ</h2>
                            </button>
                            <div class="acc_panel">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe width="560" height="315"
                                        src="https://www.youtube-nocookie.com/embed/3B7KNlKjV4Q"
                                        frameborder="0"
                                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:#ffffff;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube-nocookie.com/embed/3B7KNlKjV4Q?autoplay=1><img src=https://img.youtube.com/vi/3B7KNlKjV4Q/hqdefault.jpg><span>&#x25BA;</span></a>"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </li>
                        <li>
                            <button class="acc_ctrl">
                                <h2>BMW</h2>
                            </button>
                            <div class="acc_panel">
                                <div class="embed-responsive embed-responsive-4by3"><iframe width="540" height="675"
                                        src="https://www.youtube-nocookie.com/embed/6e5jR1kpXiM" frameborder="0"srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:#ffffff;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube-nocookie.com/embed/6e5jR1kpXiM?autoplay=1><img src=https://img.youtube.com/vi/6e5jR1kpXiM/hqdefault.jpg><span>&#x25BA;</span></a>"
                                        frameborder="0"
                                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:#ffffff;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube-nocookie.com/embed/3B7KNlKjV4Q?autoplay=1><img src=https://img.youtube.com/vi/3B7KNlKjV4Q/hqdefault.jpg><span>&#x25BA;</span></a>"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe> </div>

                            </div>
                        </li>
                        <li>
                            <button class="acc_ctrl">
                                <h2>TOYOTA</h2>
                            </button>
                            <div class="acc_panel">
                                <div class="embed-responsive embed-responsive-4by3"><iframe width="540" height="675"
                                            src="https://www.youtube-nocookie.com/embed/jol8wh03YW4" frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:#ffffff;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube-nocookie.com/embed/3B7KNlKjV4Q?autoplay=1><img src=https://img.youtube.com/vi/3B7KNlKjV4Q/hqdefault.jpg><span>&#x25BA;</span></a>"
                                            allowfullscreen>
                                        </iframe> 
                                </div>
                            </div>
                        </li>

                        <li>
                            <button class="acc_ctrl">
                                <h2>HONDA</h2>
                            </button>
                            <div class="acc_panel">
                                <div class="embed-responsive embed-responsive-4by3"><iframe width="540" height="675"
                                            src="https://www.youtube-nocookie.com/embed/4fOzoOHgPgI" frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe> </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="container">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
            </div>
        </div>
    </div>





    <div class="baru ">
        <div class="container text-center" style="padding-bottom: 3em">
            <h1 style="color: white; text-align: left;">MARK <strong>BENEFITS</strong></h1>
            <div class="tabs">

                <input type="radio" id="tab1" name="tab-control" checked>
                <input type="radio" id="tab2" name="tab-control">
                <input type="radio" id="tab3" name="tab-control">
                <input type="radio" id="tab4" name="tab-control">
                <ul>
                    <li title="Features"><label for="tab1" role="button"><svg viewBox="0 0 24 24">
                                <img class="lazy" data-src="/images/logo-wipeless.png" width="50px">
                                <p
                                    style="color: white; margin: 0; line-height: 14px; font-size: 14px; margin-top:10px;">
                                    Efek Daun Talas</p>
                            </svg><br><span>Hydrophobic</span></label>
                    </li>
                    <li title="Delivery Contents"><label for="tab2" role="button"><svg viewBox="0 0 24 24">
                                <img class="lazy" data-src="/images/logo-coating-interior.png" width="50px">
                                <p style="color: white; margin: 0; line-height: 14px; font-size: 14px;margin-top:10px">
                                    Swirls Resistance</p>
                            </svg><br><span>Meningkatkan daya tahan gores</span></label>
                    </li>
                    <li title="Shipping"><label for="tab3" role="button"><svg viewBox="0 0 24 24">
                                <img class="lazy" data-src="/images/logo-anti-gores-handle.png" width="50px">
                                <p style="color: white; margin: 0; line-height: 14px; font-size: 14px; margin-top:10px">
                                    Efek Deep Wet Gloss</p>
                            </svg><br><span>Extreme Gloss</span></label>
                    </li>
                    <li title="Returns"><label for="tab4" role="button"><svg viewBox="0 0 24 24">
                                <img class="lazy" data-src="/images/logo-anti-fog-spion.png" width="50px">
                                <p style="color: white; margin: 0; line-height: 14px; font-size: 14px; margin-top:10px">
                                    Warna jadi Abadi</p>
                            </svg><br><span>Chemical Resistance</span></label>
                    </li>
                </ul>

                <div class="slider">
                    <div class="indicator"></div>
                </div>
                <div class="content">
                    <section>
                        <h2>200% More Hydrophobic</h2>
                        <div class="col-md-4">

                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe width="100%" height="auto"
                                    src="https://www.youtube-nocookie.com/embed/jqgMzfL1qYw" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                                </div>


                        </div>
                        <div class="col-md-8"><br>Repels water from your paint like it was going out of fashion.
                        </div>
                    </section>
                    <section>
                        <h2>60% More Scratch Resistence</h2>
                        <div class="col-md-4">

                            <div class="video-container" style="width:100%"><iframe width="100%" height="auto"
                                    src="https://www.youtube-nocookie.com/embed/wX--zlCwU80" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe></div>

                        </div>
                        <div class="col-md-8"><br>Helps keep your paint protected from swirls and scratches.</div>
                    </section>
                    <section>
                        <h2>Insane Gloss Technology</h2>
                        <div class="col-md-4">

                            <div class="video-container" style="width:100%"><iframe width="100%" height="auto"
                                    src="https://www.youtube-nocookie.com/embed/QlQr9ooIY9o" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe></div>

                        </div>
                        <div class="col-md-8"><br>Amazing long lasting candy-like gloss. Get the just-detailed look
                            every moment!</div>
                    </section>
                    <section>
                        <h2>Chemical Resistence</h2>
                        <div class="col-md-4"> <img class="lazy" data-src="/images/fitur4.jpg" width="100%"> </div>
                        <div class="col-md-8"><br>creates a durable glass like membrane to provide extreme
                            protection
                            against the elements.</div>
                    </section>
                </div>
            </div>

        </div>
    </div>


    <div class="container">
        <h2 style="margin-top: 40px;"><strong>WHY CHOOSE</strong> MARK</h2>
    </div>



    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <h3>E-<strong>Warranty</strong></h3>
                <img class="lazy" data-src="/images/warranty.png" width="70%">
            </div>
            <div class="col-md-3">
                <h3 style="margin-top: 40px;">Experienced <strong>Since 2015</strong></h3>
                <p>Mark Indonesia sudah berdiri sejak tahun 2015 sehingga memiliki standard operasional, pengertian akan
                    karakter setiap cat, dan teknisi dengan skill yang memadai dan bersertifikat</p>
            </div>
        </div>

        <div class="container">
            <h2 style="margin-top: 40px; text-align: right;"><strong>Trusted & Great Result</strong> Proven</h2>
        </div>
        <div class="container" style=" padding: 0; margin: 0; width: 100%" data-animate-effect="fadeInLeft">
            <div style="text-align:center">
                <p style="font-size: 12px; margin-bottom: 10px">Click Gambar untuk Perbesar:</p>
            </div>

            <!-- The four columns -->
            <div class="tabbedimage">

                <div class="row">
                    <div class="column">
                        <img class="lazy" data-src="/images/richard-muljadi.jpg" alt="Richard Muljadi"
                            style="width:100%" onclick="myFunction(this);">
                    </div>
                    <div class="column">
                        <img class="lazy" data-src="/images/daraarafah.jpg" alt="Dara Arafah" style="width:100%"
                            onclick="myFunction(this);">
                    </div>
                    <div class="column">
                        <img class="lazy" data-src="/images/fey.jpg" alt="Fey" style="width:100%"
                            onclick="myFunction(this);">
                    </div>
                    <div class="column">
                        <img class="lazy" data-src="/images/jess.jpg" alt="Jessica Angelica" style="width:100%"
                            onclick="myFunction(this);">
                    </div>
                </div><br>

                <div class="container">
                    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
                    <img id="expandedImg" style="width:100%">
                    <div id="imgtext"></div>
                </div>
            </div>
        </div>

        <div class="container text-center">
            <h3>High Class & <strong>Tested Product</strong> (Demo)</h3>
            <div style="margin : 0 ; padding: 0; border: 3px solid black;
border-radius: 5px; ">

                <div class="col-md-6 col-md-4" style="padding: 0; " data-animate-effect="fadeInLeft">

                    <br>

                    <strong>
                        <P style="margin:0;">Self Cleaning & Hydrophobic Effect</P>
                    </strong>
                    <br>

                    <div class="video-container" width="100%"><iframe width="560" height="315"
                            src="https://www.youtube-nocookie.com/embed/bhM18cq0xbg" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe></div>
                    <br>
                </div>

                <div class="col-md-6 col-md-4" style="padding: 0;  " data-animate-effect="fadeInLeft">

                    <br>

                    <strong>
                        <P style="margin:0">Designed for Extreme Weather</P>
                    </strong>
                    <br>

                    <div class="video-container" width="100%"><iframe width="560" height="315"
                            src="https://www.youtube-nocookie.com/embed/4jQL1Nqqkjc" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe></div>
                    <br>
                </div>

            </div>

        </div>


        <div class="container">
            <h2>We will <strong>Help to Sell Your Car</strong> Later</h2>
            <div class="col-md-4">
                <p>Kami akan membantu memasarkan kendaraan anda di divisi jual beli mobil kami apabila kendaraan anda
                    ingin
                    di jual nantinya.</p>
            </div>
            <div class="col-md-8" style="text-align: right">
                <img class="lazy" data-src="/images/ganti-mobil.png" width="75%">
            </div>
        </div>

        <br>

        {{partial "testi" .}}



        <div class="container-fluid"
            style="background: linear-gradient(to bottom, black 0%, white 25%);; padding: 1em; margin: 0; width: 100%;">
            <br>
            <a href="https://stein-guard.com/restorasi-interior.html"><img class="lazy"
                    data-src="/images/interior-restorasi copy-kecil.png" width="250px"></a>
            <h2>MARK <strong>RESTORASI INTERIOR</strong></h2>


            <div class="row">
                <div class="col-md-4">
                    <p><strong>Mark VIP</strong> adalah service dengan fokus khusus memperbaiki komponen interior tanpa
                        menghilangkan ke-orisinil-an komponen tersebut.</p>

                    <p>MARK VIP (Vehicle Interior Protection) merupakan solusi dari :
                    <ul>
                        <strong>
                            <li>Leather Sobek / Tergores </li>
                            <li>Leather Mengkerut </li>
                            <li>Panel Plastik Lengket </li>
                            <li>Panel Plastik Rusak </li>
                            <li>Perubahan Warna pada Interior </li>
                            <li>Button Panel memudar</li>
                            <li>Vehicle Interior Protection System (VIPS)</li>
                        </strong>
                    </ul>
                    </p>
                </div>

                <div class="col-md-4" style="padding: 3em; padding-top:0">
                    <h3> Before After</h3>
                    <div class="section-heading" width="100%">
                        <img class="mySlides lazy" data-class="lazy" data-src="/images/mlbutton1.jpg"
                            style="width:100%">
                        <img class="mySlides lazy" data-class="lazy" data-src="/images/alphard.jpg" style="width:100%">
                        <img class="mySlides lazy" data-class="lazy" data-src="/images/alphard8.jpg" style="width:100%">
                        <img class="mySlides lazy" data-class="lazy" data-src="/images/gklassdashboard.jpg"
                            style="width:100%">
                        <img class="mySlides lazy" data-class="lazy" data-src="/images/alphard2.jpg" style="width:100%">
                        <img class="mySlides lazy" data-class="lazy" data-src="/images/alphard6.jpg" style="width:100%">
                        <img class="mySlides lazy" data-class="lazy" data-src="/images/mlbutton2.jpg"
                            style="width:100%">
                        <button class="btn btn-xs btn-primary" onclick="plusDivs(-1)">&#10094;</button>
                        <button class="btn btn-xs btn-primary" onclick="plusDivs(1)">&#10095;</button>
                    </div>
                </div>

                <div class="col-md-4">
                    <h2> Process</h2>
                    <div style="overflow: hidden; position: relative; width: 75%;" width="100%">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/SYlGNgY8R20"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
<div class="typeform-widget" data-url="https://form.typeform.com/to/zA3dvq?typeform-medium=embed-snippet"
    style="width: 100%; height: 500px;">
</div>

<script>
    (function () {
        var qs, js, q, s, d = document,
            gi = d.getElementById,
            ce = d.createElement,
            gt = d.getElementsByTagName,
            id = "typef_orm",
            b = "https://embed.typeform.com/";
        if (!gi.call(d, id)) {
            js = ce.call(d, "script");
            js.id = id;
            js.src = b + "embed.js";
            q = gt.call(d, "script")[0];
            q.parentNode.insertBefore(js, q)
        }
    })()

</script>


{{end}}