{{define "main"}}
<main>
    <div class=" container-fluid bg-dark">
        <div class="row">
            <h2 class="text-white text-center"><strong>ABOUT</strong> MARK INDONESIA</h2>
            <div class="col-md-6 bg-dark text-white">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6aqtHe033go"
                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/6aqtHe033go?autoplay=1><img src=https://img.youtube.com/vi/6aqtHe033go/hqdefault.jpg> <span>▶</span></a>"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
                <br>
            </div>
            <br>
            <div class="col-md-6">
                <div class="header my-auto">
                    <p class="text-white">Mark Auto Detailing menghadirkan pelindung eksterior kendaraan dengan
                        tekhnologi German Dan
                        Jepang. Didukung oleh tenaga profesional yang memiliki pengalaman lebih dari 5 tahun, kami
                        memberikan perlindungan yang bermutu untuk kendaraan anda. Perlindungan dari MARK adalah
                        yang terbaik karena merupakan produk laminating mobil yang sudah disertifikasi</p>

                    <p class="text-white">Segera lindungi aset kendaraan anda sekarang juga, tidak perlu lagi
                        khawatir soal jamur air, noda membandel, baret halus, warna kusam, rusak akibat kotoran
                        burung, cat bolong akibat kerikil.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="instagram text-center">
            <h2>MARK <strong>PORTOFOLIO</strong></h2>
            <a href="https://www.instagram.com/markautodetailingid/">
                <img class="lazy" data-src="https://d33wubrfki0l68.cloudfront.net/222cb37a6a1fc9ca923e9757a38a0795a339ec1c/28a82/images/stein-instagram2.jpg" width="100%">
            </a>
        </div>
    </div>

    <div class="container text-center my-3" style=" background: linear-gradient(to bottom, white 13%, black 58%);" id="line-up">
        <br>
        <h2>MARK <strong>LINE UP</strong></h2>
        <div class="col-md-5">
            <img class="img-responsive lazy" data-src="https://d33wubrfki0l68.cloudfront.net/bd40fe83b7c0ad3e3e6fceb32cecc1c8d704d5ab/c7ac3/images/franchiseindonesia14.png">
        </div>
        <div class="col-md-7" style="margin-top: 2em">

            <div class="faq"
                style="background-image: url('/images/background-faq.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
                <div class="container">
                    <ul class="acc">
                        <div class="text-center">
                            <h3 style="color: white">WHAT EVER YOUR CAR IS.. THE CHOICE FALLS ON
                                <STRONG>MARK</STRONG>
                            </h3>
                        </div>
                        <li>
                            <button class="acc_ctrl">
                                <h2>MERCEDES BENZ</h2>
                            </button>
                            <div class="acc_panel">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3B7KNlKjV4Q"
                                        frameborder="0"
                                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:#ffffff;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/3B7KNlKjV4Q?autoplay=1><img src=https://img.youtube.com/vi/3B7KNlKjV4Q/hqdefault.jpg><span>&#x25BA;</span></a>"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </li>
                        <li>
                            <button class="acc_ctrl">
                                <h2>BMW</h2>
                            </button>
                            <div class="acc_panel">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" width="540" height="675"
                                        src="https://www.youtube.com/embed/6e5jR1kpXiM" frameborder="0"
                                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:#ffffff;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/6e5jR1kpXiM?autoplay=1><img src=https://img.youtube.com/vi/6e5jR1kpXiM/hqdefault.jpg><span>&#x25BA;</span></a>"
                                        frameborder="0"
                                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:#ffffff;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/3B7KNlKjV4Q?autoplay=1><img src=https://img.youtube.com/vi/3B7KNlKjV4Q/hqdefault.jpg><span>&#x25BA;</span></a>"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </li>
                        <li>
                            <button class="acc_ctrl">
                                <h2>TOYOTA</h2>
                            </button>
                            <div class="acc_panel">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" width="540" height="675"
                                        src="https://www.youtube.com/embed/jol8wh03YW4" frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:#ffffff;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/jol8wh03YW4?autoplay=1><img src=https://img.youtube.com/vi/jol8wh03YW4/hqdefault.jpg><span>&#x25BA;</span></a>"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </li>

                        <li>
                            <button class="acc_ctrl">
                                <h2>HONDA</h2>
                            </button>
                            <div class="acc_panel">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" width="540" height="675"
                                        src="https://www.youtube.com/embed/4fOzoOHgPgI" frameborder="0"
                                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/4fOzoOHgPgI?autoplay=1><img src=https://img.youtube.com/vi/4fOzoOHgPgI/hqdefault.jpg> <span>▶</span></a>"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{partial "mark-benefits" .}}
    <div class="container" id="why-mark">
        <h2 style="margin-top: 40px;"><strong>WHY CHOOSE</strong> MARK</h2>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3>E-<strong>Warranty</strong></h3>
                <img class="lazy" data-src="https://d33wubrfki0l68.cloudfront.net/05d00211cc132b679c08c5243e92dc39d9237c21/d224d/images/warranty.png" width="70%">
            </div>
            <div class="col-md-3">
                <h3 style="margin-top: 40px;">Experienced <strong>Since 2015</strong></h3>
                <p>Mark Indonesia sudah berdiri sejak tahun 2015 sehingga memiliki standard operasional, pengertian akan
                    karakter setiap cat, dan teknisi dengan skill yang memadai dan bersertifikat</p>
            </div>
        </div>

        {{partial "trusted" .}}


        <div class="container">
            <h2>We will <strong>Help to Sell Your Car</strong> Later</h2>
            <div class="col-md-4">
                <p>Kami akan membantu memasarkan kendaraan anda di divisi jual beli mobil kami apabila kendaraan anda
                    ingin
                    di jual nantinya.</p>
            </div>
            <div class="col-md-8" style="text-align: right">
                <img class="lazy" data-src="https://d33wubrfki0l68.cloudfront.net/e779e14831f1b64e3025b7d903fa747264a1c6a7/88956/images/ganti-mobil.png" width="75%">
            </div>
        </div>
    </div>

    {{partial "testi" .}}
    <div style="background: linear-gradient(to bottom, black 0%, white 25%);">
        <div class="container my-0" style="background: linear-gradient(to bottom, black 0%, white 25%);">
            <br>
            <a href="/restorasi-interior">
                <img class="lazy" data-src="/images/interior-restorasi copy-kecil.png" width="250px">
            </a>
            <h2>MARK <strong>RESTORASI INTERIOR</strong></h2>


            <div class="row">
                <div class="col-md-4">
                    <p class="text-dark"><strong>Mark VIP</strong> adalah service dengan fokus khusus memperbaiki
                        komponen interior tanpa
                        menghilangkan ke-orisinil-an komponen tersebut.</p>

                    <p class="text-dark">MARK VIP (Vehicle Interior Protection) merupakan solusi dari :
                    <ul class="text-dark">
                        <strong>
                            <li>Leather Sobek / Tergores </li>
                            <li>Leather Mengkerut </li>
                            <li>Panel Plastik Lengket </li>
                            <li>Panel Plastik Rusak </li>
                            <li>Perubahan Warna pada Interior </li>
                            <li>Button Panel memudar</li>
                            <li>Vehicle Interior Protection System (VIPS)</li>
                        </strong>
                    </ul>
                    </p>
                </div>

                {{partial "before-after" .}}

                <div class="col-md-4">
                    <h3 class="text-dark"> Process</h3>
                    <div>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/SYlGNgY8R20"
                                frameborder="0"
                                srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/SYlGNgY8R20?autoplay=1><img src=https://img.youtube.com/vi/SYlGNgY8R20/hqdefault.jpg> <span>▶</span></a>"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{{end}}