<div class="container">
    <h2 style="text-align: center; padding: 1em 0; margin-bottom: 0">BEFORE AFTER PORTFOLIO<h2>
            <div class="row">
                <div class="col-md-4">
                    <a href="/interior"><img alt="Nano Ceramic Coating Terbaik Jakarta picture"
                            title="Coating Mobil Terbaik Jakarta image" class="lazy img-responsive"
                            data-src="https://d33wubrfki0l68.cloudfront.net/696676b7a0fb4e7ea9b58e88d1edc502619e0413/db45f/images/interior.jpg"></a>
                    <div class="btn-beforeafter">
                        <a href="/interior" class="btn btn-primary btn-outline">INTERIOR</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="/exterior"><img alt="Nano Ceramic Coating Terbaik Jakarta picture"
                            title="Coating Mobil Terbaik Jakarta image" class="lazy img-responsive"
                            data-src="https://d33wubrfki0l68.cloudfront.net/8ba567ef7343a5e916baa8e2cca8c6315f7315cb/2fb68/images/eksterior.jpg"></a>
                    <div class="btn-beforeafter">
                        <a href="/exterior" class="btn btn-primary btn-outline">EKSTERIOR</a>
                    </div>
                </div>
                <div class="col-md-4"><a href="/engine"><img alt="Nano Ceramic Coating Terbaik Jakarta picture"
                            title="Coating Mobil Terbaik Jakarta image" class="lazy img-responsive"
                            data-src="https://d33wubrfki0l68.cloudfront.net/7fcab00e9c81e07e43c87a2c6fab2c8bb61c2ab1/3aaa2/images/mesin.jpg"></a>
                    <div class="btn-beforeafter">
                        <a href="/engine" class="btn btn-primary btn-outline">ENGINE BAY</a>
                    </div>
                </div>
            </div>
</div>

<div class="typeform-widget" data-url="https://form.typeform.com/to/zA3dvq?typeform-medium=embed-snippet"
    style="width: 100%; height: 500px;"></div>
<script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>

<script src="/js/jquery.flexslider-min.js"></script>