<div class="nano-content" >
    <div class="container">
  
      <div class="col-md-4"><h2>TEKNOLOGI GERMANY</h2></div>
      <div class="col-md-8"><p>Visi kami adalah melindungi kendaraan anda agar terlihat abadi dan tidak terlihat usang sebelum waktunya. Tentunya menggunakan produk pelindung terbaik berteknologi Germany</p></div>
  
   
      </div>
    <div class="container">
   <hr>
      <div class="col-md-8">
   <div class="row">
    <div class="column" style="background-color: #f8f8f8"><h3 style="font-size: 100px">01</h3><BR>
      <P>PREPARE</P>
    </div>
    <div class="column" style="background-color: #f8f8f8">     <p>Adalah proses persiapan pembersihan dan penghilangan
    noda noda serta kontaminasi pada mobil sehingga mobil anda bersih sebelum lanjut ke step revealing</p>
    <ul>
      <li>Premium Wash (wheels, rims, body cleaning, tires dressing, interior vacuum)</li>
       <li>Decontamination (Waterspot Removal dan Claying)</li>
    </ul></div>
  </div>
  </div>
  <div class="col-md-4" style="background-color: black" >
    <script src="https://fast.wistia.com/embed/medias/ohfiff1knh.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_ohfiff1knh popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>
  </div>
   
      </div>
  <hr>
      <div class="container">
  
      <div class="col-md-8">
  
   <div class="row">
    <div class="column" style="background-color: #f8f8f8"><h3 style="font-size: 100px">02</h3><BR>
      <P>REVEAL</P>
    </div>
    <div class="column" style="background-color: #f8f8f8">     <p>
      Adalah proses pengembalian kondisi mobil seperti menjadi baru baik pada eksterior, interior serta ruang mesin pada mobil. Kami tidak berkompromo pada pengangkatan kotoran dan optimasi kondisi kendaraan karena step ini adalah step terpenting.</p>
      <ul>
      <li>Scratch / Swirls / Marring Removal (3 step paint correction)</li>
       <li>Engine Bay Detailing & Interior Detailing</li>
    </ul></div>
    </div>
     </div>
  
  
  <div class="col-md-4" style="background-color: black">
      <video controls autoplay loop style="width: 100%; height: auto">
    <source src="video/REVEAL.mp4" type="video/mp4">
    <source src="video/REVEAL.mp4" type="video/ogg">
    Your browser does not support the video tag.
  </video> 
  </div>
   
      </div>
  <hr>
      <div class="container">
  
      <div class="col-md-8">
  
   <div class="row">
    <div class="column" style="background-color: #f8f8f8"><h3 style="font-size: 100px">03</h3><BR>
      <P>INSPECTION</P>
    </div>
    <div class="column" style="background-color: #f8f8f8">     <p>Dalam proses pengerjaan tentulah tidak dapat menghasilkan hasil 100% hanya dalam sekali pengerjaan sehingga perlu step inspeksi. Apabila ditemukan bagian yang dirasa kurang maksimal maka tim kami akan memaksimalkan bagian tersebut.</p>
    <ul>
      <li>Eraser Wipedown</li>
       <li>Inspection</li>
      </ul></div>
      
  </div> 
  </div>
  <div class="col-md-4" style="background-color: black">
   <video controls autoplay loop style="width: 100%; height: auto">
    <source src="video/inspection.mp4" type="video/mp4">
    <source src="video/inspection.mp4" type="video/ogg">
    Your browser does not support the video tag.
  </video> </div>
      </div>
   <div class="container">
  
      <div class="col-md-8">
  
   <div class="row">
    <div class="column" style="background-color: #f8f8f8"><h3 style="font-size: 100px">04</h3><BR>
      <P>PROTECT</P>
    </div>
    <div class="column" style="background-color: #f8f8f8">     <p>Setelah mobil sudah terlihat seperti baru dan tidak ada bagian yang tertinggal maka step terakhir adalah aplikasi lapisan pelindung mobil.</p>
    <ul>
      <li>Coating Body</li>
       <li>Coating Kaca</li>
            <li>Coating Interior</li>
            <li>Anti Gores Handle</li>
                 <li>Anti Fog Spion</li>
      </ul></div>
      
  </div> 
  </div>
  <div class="col-md-4" style="background-color: black">
    <script src="https://fast.wistia.com/embed/medias/fyh0g35nuv.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_fyh0g35nuv popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>
  </div>
   
      </div>
  </div>