<div id="fh5co-contact" class="fh5co-section animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h2>Lokasi Kami</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.9731389819813!2d106.62856861476929!3d-6.2672629954637085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe1bf0e03cf2b1d2b!2sStein%20Guard%20Indonesia!5e0!3m2!1sid!2sid!4v1584525179638!5m2!1sid!2sid"
                    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>


            <div class="col-md-6">
                <h2>Konsultasikan kondisi kendaraan anda sekarang. GRATIS !</h2>
                <p style="color: #000000;">Ayo konsultasikan kondisi kendaraan anda. GRATIS ! Booking jadwal instalasi laminating mobil hanya di
                    MARK Indonesia. </p>
                <a target="_blank" href="tel:+6287888842238" class="btn btn-primary btn-outline">Hubungi Kami</a>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=6287888842238&text=Halo%20STEIN%20Indonesia%2C%20Saya%20ingin%20menanyakan%20Info%20mengenai%20Nano%20Ceramic%20Coating%20Untuk%20%3A%0AJenis%20Kendaraan%20%3A%0AWarna%20Kendaraan%20%3A%0ATahun%20Pembuatan%20Kendaraan%20%3A%20%0ADomisili%20%3A&source=&data=" class="btn btn-primary btn-outline">Whatsapp Kami</a>
            </div>
        </div>
    </div>
</div>