{{partial "carousel" .}}
<div class="container">
    <div class="col-md-6">
        <img data-src="/images/franchiseindonesia14.png" class="img-responsive lazy"
            alt="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL picture"
            title="STEIN Premium Ceramic Paint Treatments">
    </div>

    <div class="col-md-6">

        <h3 style="color:grey;">The Ultimate in Exterior Protection</h3>
        <h2 style="color:#f60;"><b>STEIN Premium Ceramic Paint Treatments</b></h2>
        <div>
            <p> STEIN Premium Ceramic Paint Treatment is a high performance coating solution that offers extreme
                hardness and can be applied to a various surfaces including paint clear coat, plastic, rubber and glass.
            </p>

            <p>STEIN gives exceptional ceramic-like properties and as such is extremely durable and robust, providing
                high chemical, UV and heat resistance. It not only increases hardness, it leaves a fantastic deep gloss
                with remarkable gains in surface thickness.</p>

            <p>STEIN is a complete treatment, instead of just a coating on top of the paint surface, it goes deep into
                the paint and crystallizes within the pores thus changing the molecular structure of the clear coat.
                This means the protection is long lasting and hydrophobic performance will last for years not months.
            </p>

            <p>Once the application is fully cured, it forms a permanent bond within the paint. No chemical or solvent
                can remove it unless the paint surface is wet sanded or intensively polished with harsh rubbing
                compound.</p>

        </div>
    </div>
</div></br></br>
<div class="about">

    <div class="container">
        <div class="about-grids">
            <div class="col-md-6 about-pic">
                <h2 style="text-align:left; color:#f60; font-size: 22px">Why protect the exterior of your car or
                    motorcycles?</h2>
                <p>The paint and clearcoat on your car is not enough to</p>
                <p>protect it from the rigours of driving. Contaminants, </p>
                <p>road debris, rain and dust all take their toll.</p>
                <p>STEIN offers complete protection while keeping your </p>
                <p>paint look spectacular. </p><br>

                <a target="_blank" class="btn btn-primary btn-outline"
                    href="https://api.whatsapp.com/send?phone=6287888842238" style="margin:1em 0">Make an
                    Appointment</a>

            </div>
            <div class="col-md-6 about-info">
                <img data-src="/images/stein-porsche.jpg" class="img-responsive lazy"
                    alt="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL picture"
                    title="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL image">

            </div>
            <div class="clearfix"></div>

        </div><br>

        <div class="about-grids">
            <div class="col-md-3">
                <h2 style="text-align:left; color:#f60; font-size: 35px">STEIN ULTIMA</h2>
                <img data-src="/images/ultima-small.png" class="img-responsive lazy" width="80%"
                    alt="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL picture"
                    title="STEIN Ultima"><br>
            </div>


            <div class="col-md-4 text-small">
                <small>
                    <p style="margin-top:0;">Stein Ultima diaplikasikan pada cat, kaca, chrome, velg, plastik dan karet,
                        dan
                        bahkan matte! Melindungi semua permukaan hingga 3 tahun perlindungan yang tahan lama. Stein
                        Ultima
                        memberikan perlindungan terhadap sinar UV yang keras, bahan kimia yang keras, air keras, kotoran
                        burung dan bahkan memberikan ketahanan gores.</p>
                    <p>
                        Stein Ultima tidak hanya melindungi kendaraan Anda. Tapi juga akan memberikan tingkat gloss,
                        slickness, dan sifat hidrofobik yang menakjubkan. Menjaga kendaraan Anda lebih bersih, lebih
                        lama,
                        dan membuatnya lebih mudah dibersihkan.</p>
                    <p>
                        Dapatkan pelindung terbaik di dunia saat ini!</p>
                </small>
            </div>


            <div class="col-md-5">
                <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" width="540"
                        height="675" src="https://www.youtube.com/embed/5TDJze_yZJI" frameborder="0"
                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/5TDJze_yZJI?autoplay=1><img src=https://img.youtube.com/vi/5TDJze_yZJI/hqdefault.jpg> <span>▶</span></a>"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>

        </div>
    </div>
</div>
<br><br>


<div class="container">
    <div class="about-grids">
        <div class="col-md-3">
            <h2 style="text-align:left; color:#f60; font-size: 35px">STEIN ROCKHARD</h2>
            <img data-src="/images/rockhard-small.png" class="img-responsive lazy"
                alt="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL picture"
                title="STEIN ROCKHARD">
        </div>

    </div>
    <div class="col-md-4">
        <p style="margin-top:0;">Stein Rockhard System adalah lapisan pelindung cat terbaik. Terkenal di dunia
            karena sifat gloss, perlindungan, dan hidrofobinya yang ekstrem sambil tetap menjadi salah satu yang
            paling tahan lama durabilitasnya.

            Lapisan atas dari Stein Rockhard membawa kilau dan kelicinan ke tingkat yang tidak tertandingi. Stein
            Rockhard System memberikan perlindungan cat jangka panjang dengan garansi 5 tahun.

            Dapatkan sistem pelindung terbaik di dunia saat ini!</p><br>
    </div>


    <div class="col-md-5">
        <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" width="540"
                height="675" src="https://www.youtube.com/embed/8aZcAWZhnws" frameborder="0"
                srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/8aZcAWZhnws?autoplay=1><img src=https://img.youtube.com/vi/8aZcAWZhnws/hqdefault.jpg> <span>▶</span></a>"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>

</div>
<br><br><br>
<h2 style="text-align:center; color:#f60; font-size: 35px">STEIN GUARD</h2>
<div class="container">
    <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" width="540" height="675"
            src="https://www.youtube.com/embed/scqJ4GpVg9A" frameborder="0"
            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/scqJ4GpVg9A?autoplay=1><img src=https://img.youtube.com/vi/scqJ4GpVg9A/maxresdefault.jpg> <span>▶</span></a>"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
</div>




<div class="works">
    <div class="container" style="padding-top:0;">
        <h2 style="margin: 1em 0; text-align:center;">BAGIAN YANG DIKERJAKAN</h2>
        <div class="row">
            <div class="col-md-4">

                <img class="img-responsive lazy" data-src="/images/NanoCeramicCoatingTerbaikJakarta15.png"
                    alt="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL picture"
                    title="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL image"><br>
                <p style="text-align:center;">Exterior yaitu membersihkan mobil dari kerak dan kontaminen serta
                    menghilangkan scratch hingga swirl/hologram menjadikan warna mobil anda keluar dan bersih
                    sebelum
                    masuk tahap Nano Ceramic Coating
                </p>
                <div class="middle">

                </div>
            </div>

            <div class="col-md-4">

                <img class="img-responsive lazy" data-src="/images/NanoCeramicCoatingTerbaikJakarta16.png"
                    alt="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL picture"
                    title="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL image"
                    style="width:100%"><br>
                <p style="text-align:center;">Interior yaitu membersihkan interior mobil dari kotoran dan debu yang
                    sulit di jangkau serta mengembalikan warna kulit , bahan, dan plastic pada interior mobil
                </p>
                <div class="middle">
                </div>

            </div>

            <div class="col-md-4">

                <img class="img-responsive lazy" data-src="/images/NanoCeramicCoatingTerbaikJakarta17.png"
                    alt="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL picture"
                    title="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL image"><br>
                <p style="text-align:center;">Engine bay yaitu membersihkan ruang mesin mobil dari kerak dan kotoran
                    yang membandel sehingga meningkatkan performa dan kebersihan pada ruang mesin mobil.
                </p>
                <div class="middle">
                </div>

            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>