<div class="container">

    {{partial "countdown" .}}
    <div class="col-md-6">
        <img data-src="/images/franchiseindonesia14.png" class="img-responsive lazy"
            alt="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL picture"
            title="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL image">
    </div>

    <div class="col-md-6">

        <h3 style="color:grey;">The Ultimate in Exterior Protection</h3>
        <h2 style="color:#f60;"><b>STEIN Premium Ceramic Paint Treatment</b></h2>
        <div>
            <p> STEIN Premium Ceramic Paint Treatment is a high performance coating solution that offers extreme
                hardness and can be applied to a various surfaces including paint clear coat, plastic, rubber and glass.
            </p>

            <p>STEIN gives exceptional ceramic-like properties and as such is extremely durable and robust, providing
                high chemical, UV and heat resistance. It not only increases hardness, it leaves a fantastic deep gloss
                with remarkable gains in surface thickness.</p>

            <p>STEIN is a complete treatment, instead of just a coating on top of the paint surface, it goes deep into
                the paint and crystallizes within the pores thus changing the molecular structure of the clear coat.
                This means the protection is long lasting and hydrophobic performance will last for years not months.
            </p>

            <p>Once the application is fully cured, it forms a permanent bond within the paint. No chemical or solvent
                can remove it unless the paint surface is wet sanded or intensively polished with harsh rubbing
                compound.</p>

        </div>
    </div>
</div><br><br>
<div class="about">

    <div class="container">
        <div class="about-grids">
            <div class="col-md-6 about-pic">
                <h2 style="text-align:left; color:#f60; font-size: 22px">Why protect the exterior of your car or
                    motorcycles?</h2>
                <p>The paint and clearcoat on your car is not enough to</p><br>
                <p>protect it from the rigours of driving. Contaminants, </p><br>
                <p>road debris, rain and dust all take their toll.</p><br><br>
                <p>STEIN offers complete protection while keeping your </p><br>
                <p>paint looking spectacular. </p><br>

                <a class="btn btn-primary btn-outline" href="https://api.whatsapp.com/send?phone=6287888842238"
                    style="margin:1em 0">Make an Appointment</a>

            </div>
            <div class="col-md-6 about-info">
                <img data-src="/images/stein-porsche.jpg" class="img-responsive lazy"
                    alt="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL picture"
                    title="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL image">

            </div>
            <div class="clearfix"></div>

        </div><br>

        <div class="about-grids">
            <div class="col-md-3">
                <h2 style="text-align:left; color:#f60; font-size: 35px">STEIN ULTIMA</h2>
                <img data-src="/images/ultima-small.png" class="img-responsive lazy" width="80%"
                    alt="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL picture"
                    title="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL image"><br>
            </div>


            <div class="col-md-4 ">
                <p style="margin-top:0;">Stein Ultima diaplikasikan pada cat, kaca, chrome, velg, plastik dan karet, dan
                    bahkan matte! Melindungi semua permukaan hingga 3 tahun perlindungan yang tahan lama. Stein Ultima
                    memberikan perlindungan terhadap sinar UV yang keras, bahan kimia yang keras, air keras, kotoran
                    burung dan bahkan memberikan ketahanan gores.

                    Stein Ultima tidak hanya melindungi kendaraan Anda. Tapi juga akan memberikan tingkat gloss,
                    slickness, dan sifat hidrofobik yang menakjubkan. Menjaga kendaraan Anda lebih bersih, lebih lama,
                    dan membuatnya lebih mudah dibersihkan.

                    Dapatkan pelindung terbaik di dunia saat ini!</p><br>
            </div>


            <div class="col-md-5">

                <style>
                    .embed-container {
                        position: relative;
                        padding-bottom: 56.25%;
                        height: 0;
                        overflow: hidden;
                        max-width: 100%;
                    }

                    .embed-container iframe,
                    .embed-container object,
                    .embed-container embed {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                </style>
                <div class="embed-container"><iframe src="https://www.youtube.com/embed/5TDJze_yZJI" frameborder="0"
                        allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
    <br><br>


    <div class="container">
        <div class="about-grids">
            <div class="col-md-3">
                <h2 style="text-align:left; color:#f60; font-size: 35px">STEIN ROCKHARD</h2>
                <img data-src="/images/rockhard-small.png" class="img-responsive lazy"
                    alt="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL picture"
                    title="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL image">
            </div>

        </div>
        <div class="col-md-4">
            <p style="margin-top:0;">Stein Rockhard System adalah lapisan pelindung cat terbaik. Terkenal di dunia
                karena sifat gloss, perlindungan, dan hidrofobinya yang ekstrem sambil tetap menjadi salah satu yang
                paling tahan lama durabilitasnya.

                Lapisan atas dari Stein Rockhard membawa kilau dan kelicinan ke tingkat yang tidak tertandingi. Stein
                Rockhard System memberikan perlindungan cat jangka panjang dengan garansi 5 tahun.

                Dapatkan sistem pelindung terbaik di dunia saat ini!</p><br>
        </div>


        <div class="col-md-5">

            <style>
                .embed-container {
                    position: relative;
                    padding-bottom: 56.25%;
                    height: 0;
                    overflow: hidden;
                    max-width: 100%;
                }

                .embed-container iframe,
                .embed-container object,
                .embed-container embed {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            </style>
            <div class="embed-container"><iframe src="https://www.youtube.com/embed/8aZcAWZhnws" frameborder="0"
                    allowfullscreen=""></iframe></div>
        </div>

    </div>
    <br><br><br>
    <h2 style="text-align:center; color:#f60; font-size: 35px">STEIN GUARD</h2>
    <div class="container">
        <style>
            .embed-container {
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                max-width: 100%;
            }

            .embed-container iframe,
            .embed-container object,
            .embed-container embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        </style>
        <div class="embed-container"><iframe src="https://www.youtube.com/embed/scqJ4GpVg9A" frameborder="0"
                allowfullscreen=""></iframe></div>
    </div>




    <div class="works">
        <div class="container" style="padding-top:0;">
            <h2 style="margin: 1em 0; text-align:center;">BAGIAN YANG DIKERJAKAN</h2>
            <div class="row">
                <div class="col-md-4">

                    <img class="img-responsive lazy" data-src="/images/NanoCeramicCoatingTerbaikJakarta15.png"
                        alt="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL picture"
                        title="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL image"><br>
                    <p style="text-align:center;">Exterior yaitu membersihkan mobil dari kerak dan kontaminen serta
                        menghilangkan scratch hingga swirl/hologram menjadikan warna mobil anda keluar dan bersih
                        sebelum
                        masuk tahap Nano Ceramic Coating
                    </p>
                    <div class="middle">

                    </div>
                </div>

                <div class="col-md-4">

                    <img class="img-responsive lazy" data-src="/images/NanoCeramicCoatingTerbaikJakarta16.png"
                        alt="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL picture"
                        title="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL image"
                        style="width:100%"><br>
                    <p style="text-align:center;">Interior yaitu membersihkan interior mobil dari kotoran dan debu yang
                        sulit di jangkau serta mengembalikan warna kulit , bahan, dan plastic pada interior mobil
                    </p>
                    <div class="middle">
                    </div>

                </div>

                <div class="col-md-4">

                    <img class="img-responsive lazy" data-src="/images/NanoCeramicCoatingTerbaikJakarta17.png"
                        alt="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL picture"
                        title="NANO CERAMIC COATING | JASA NANO CERAMIC | NANO CERAMIC | COATING MOBIL | NANO COATING | LAMINATING MOBIL | SCUTO NANO CERAMIC | NANO CERAMIC COATING JAKARTA | NANO CERAMIC COATING TERBAIK | COATING MOBIL image"><br>
                    <p style="text-align:center;">Engine bay yaitu membersihkan ruang mesin mobil dari kerak dan kotoran
                        yang membandel sehingga meningkatkan performa dan kebersihan pada ruang mesin mobil.
                    </p>
                    <div class="middle">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="typeform-widget" data-url="https://form.typeform.com/to/zA3dvq?typeform-medium=embed-snippet"
        style="width: 100%; height: 500px;">
        <div class="widget__WidgetWrapper-sc-1rxjz1n-0 NwqzB">
            <div class="widget__IframeWrapper-sc-1rxjz1n-2 cKLpKc"><iframe frameborder="0"
                    src="https://form.typeform.com/to/zA3dvq?typeform-medium=embed-sdk&amp;typeform-embed=embed-widget&amp;typeform-source=&amp;typeform-embed-id=kburs"
                    width="100%" allow="camera; microphone; autoplay; encrypted-media; fullscreen;" data-qa="iframe"
                    title="typeform-embed" style="border: 0px;"></iframe></div>
        </div>
    </div>
    <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>