<div class="pricelist">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fh5co-heading animate-box"
                style="border-bottom-style: solid; border-width: 2px; border-color: black;">
                <h2>Pricelist</h2>

                <div class="col-md-6">
                    <p><strong>STEIN Coating Package Meliputi :</strong> </p>
                    <ul>
                        <li> Premium Wash (wheels, rims, body cleaning, tires dressing, interior vacuum)</li>
                        <li> Decontamination (Waterspot Removal dan Claying)</li>
                        <li> Scratch / Swirls / Marring Removal (3 step paint correction)</li>
                        <li> Engine Bay Detailing</li>
                        <li> Interior Detailing</li>
                        <li> Inspection</li>
                        <li> Eraser Wipedown</li>
                        <li> Coating by STEIN ULTIMA / ROCKHARD</li>
                        <li> 2 Years Warranty X 3 Years Durability (ULTIMA)</li>
                        <li> 3 Years Warranty X 5 Years Durability (ROCKHARD)</li>
                    </ul>
                    <p>* Paket Additional Protection adalah Paket yang termasuk: Coating Kaca full sisi – Anti
                        Gores Handle Pintu – Coating Interior – Antifog Spion
                    </p>
                </div>
            </div>
        </div>
        <div class="container" style="margin-bottom: 40px; ">
            <div style="overflow-x:auto;">
                <table style="width:100%">
                    <tr>
                        <th>Ukuran Mobil</th>
                        <th>Ketahanan 3 Tahun</th>
                        <th>Ketahanan 5 Tahun</th>
                        <th>+Paket Additional Protection</th>
                    </tr>
                    <tr>
                        <td><strong>Small</strong></td>
                        <td>IDR 3,000,000</td>
                        <td>IDR 3,750,000</td>
                        <td>+IDR 1,200,000</td>
                    </tr>
                    <tr>
                        <td><strong>Medium</strong></td>
                        <td>Ask</td>
                        <td>Ask</td>
                        <td>Ask</td>
                    </tr>
                    <tr>
                        <td><strong>Large</strong></td>
                        <td>Ask</td>
                        <td>Ask</td>
                        <td>Ask</td>
                    </tr>
                </table>
                <p>* Mobil baru discount 10%<br>* Pengerjaan di rumah +Rp.100,000,-<br>* Antar Jemput Mobil ke
                    workshop +Rp.100,000,-<br>* Dapatkan cicilan CC 0% tenor hingga 24 bulan</p>

            </div>



        </div>

    </div>







    <div class="typeform-widget" data-url="https://form.typeform.com/to/zA3dvq?typeform-medium=embed-snippet"
        style="width: 100%; height: 500px;"></div>
    <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>

</div>