<div id="fh5co-about" class="fh5co-section">
    <div class="container">
        <h2>Tentang Restorasi Interior Mobil<strong> MARK VIP</strong></h2>
        <div class="row">
            <div class="col-md-6 col-md-4 text-dark">

                <br>

                <p><strong>@MarkVIP.ID</strong> adalah service dengan fokus khusus memperbaiki komponen interior
                    tanpa
                    menghilangkan ke-orisinil-an komponen tersebut.</p>

                <p>MARK VIP (Vehicle Interior Protection) merupakan solusi dari :</p>
                <ul>
                    <li>
                        <p>Leather Sobek / Tergores</p>
                    </li>
                    <li>Leather Mengkerut </li>
                    <li>Panel Plastik Lengket </li>
                    <li>Panel Plastik Rusak </li>
                    <li>Perubahan Warna pada Interior </li>
                    <li>Button Panel memudar</li>
                    <li>Vehicle Interior Protection System (VIPS)</li>
                </ul>
                </p>.
            </div>
            {{partial "before-after" .}}
        </div>
    </div>
</div>
</div>

<div class="container my-3">
    <h2>MARK <strong>Interior Restoration</strong></h2>
    <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" width="540" height="675"
            src="https://www.youtube.com/embed/BJaxkYoqbi4" frameborder="0"
            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/BJaxkYoqbi4?autoplay=1><img src=https://img.youtube.com/vi/BJaxkYoqbi4/maxresdefault.jpg> <span>▶</span></a>"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
</div>

{{partial "mark-benefits" . }}

<div class="container"><br>
    <h2>Surface Expert</h2>
    <p>Spesialis dalam perbaikan warna, restorasi dan perlindungan. Kami menangani semua jenis permukaan rusak, kotor,
        pudar yang ditemukan di rumah, kantor, mobil, pesawat, kapal serta gedung komersil. Kami juga memiliki
        spesialisasi dalam mewarnai kembali ataupun merubah warna permukaan interior Anda. Dilengkapi dengan teknologi
        VIPS, permukaan juga terproteksi hingga dapat digunakan pada jangka panjang.</p>
    <img class="lazy" data-src="/images/surface.jpg" width="100%">
</div>

<br>

{{ partial "trusted" . | safeHTML}}


<div class="container">
    <img class="img-responsive lazy" width="100%" data-src="/images/interior-instagram.jpg">
</div>

<div class="text-center">
    <P style="margin:0">Apapun masalah interior mobil kamu percayakan pada MARK VIP </P> <br>
    <p style="margin: 0; margin-bottom: 2em"><a target="_blank" href="https://www.instagram.com/markvip.id/"
            class="btn btn-primary btn-outline">Visit Our Instagram</a></p>

    <p style="margin: 0; margin-bottom: 2em"><a target="_blank" href="www.youtube.com/channel/UCkEunDTyZuhpGPFTrRkUh1A"
            class="btn btn-primary btn-outline">Subscribe Our Youtube Channel</a></p>
</div>
<div class="faq lazy" style="background-image: url('/images/background-faq.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;">
    <div class="container">
        <ul class="acc">
            <div class="text-center">
                <h3 style="color: white">Pertanyaan yang sering diajukan</h3>
            </div>
            <li>
                <button class="acc_ctrl">
                    <h2>Apa sih MARK VIP ?</h2>
                </button>
                <div class="acc_panel">
                    <p><strong>@MarkVIP.ID</strong> adalah service dengan fokus khusus memperbaiki komponen interior
                        tanpa
                        menghilangkan ke-orisinil-an komponen tersebut.</p>


                </div>
            </li>
            <li>
                <button class="acc_ctrl">
                    <h2>Apa saja yang bisa di perbaiki di MARK VIP ?</h2>
                </button>
                <div class="acc_panel">
                    <p>MARK VIP (Vehicle Interior Protection) merupakan solusi dari :
                    <ul>
                        <li>Leather Sobek / Tergores </li>
                        <li>Leather Mengkerut </li>
                        <li>Panel Plastik Lengket </li>
                        <li>Panel Plastik Rusak </li>
                        <li>Perubahan Warna pada Interior </li>
                        <li>Button Panel memudar</li>
                        <li>Wood Panel rusak</li>
                        <li>Kaca Mobil Tergores</li>
                        <li>Vehicle Interior Protection System (VIPS)</li>
                    </ul>
                    </p>
                </div>
            </li>
            <li>
                <button class="acc_ctrl">
                    <h2>Apa itu VIPS ?</h2>
                </button>
                <div class="acc_panel">
                    <p>VIPS (Vehicle Interior Protection System) memperbaharui tampilan permukaan interior/exterior
                        yang tampak
                        kusam dan tua sembari menerapkan lapisan pelindung untuk permukaan yang masih baru. Kulit,
                        vinyl, kain,
                        karpet, fiberglass, plastik ataupun alcantara.
                        merupakan investasi terbaik untuk melindungi interior mobil Anda
                </div>
            </li>

            <li>
                <button class="acc_ctrl">
                    <h2>Apa Manfaat VIPS ?</h2>
                </button>
                <div class="acc_panel">
                    <p>
                    <ul>
                        <li>Melindungi dari kotoran dan minyak.</li>
                        <li>Mencegah kelunturan warna.</li>
                        <li>Meminimalkan kerusakan dari tinta ballpoint dan goresan. </li>
                        <li>Meminimalkan kerut dan perubahan warna. </li>
                        <li>Mencegah cairan dan noda. </li>
                        <li>Mempertahankan warna dan sinar asli permukaan.</li>
                        <li>Permukaan menjadi mudah dibersihkan .</li>
                    </ul>
                    </p>
                </div>
            </li>
            <li>
                <button class="acc_ctrl">
                    <h2>Apakah menerima Pick Up Delivery ?</h2>
                </button>
                <div class="acc_panel">
                    <p>Kami menyediakan supir pribadi untuk antar jemput kendaraan anda dengan SOP yang aman sehingga
                        anda tidak
                        perlu repot repot antar jemput kendaraan anda ke workshop.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>