<div class="col-md-4" style="padding: 3em; padding-top:0">
    <h3 class="text-dark"> Before After</h3>
    <div class="section-heading" width="100%">
        <img class="mySlides lazy" class="lazy"
            data-src="https://d33wubrfki0l68.cloudfront.net/69d12ca284615aa75e8531633ff572bb934164c7/b66b6/images/mlbutton1.jpg"
            style="width:100%">
        <img class="mySlides lazy" class="lazy"
            data-src="https://d33wubrfki0l68.cloudfront.net/ddf5f7c641fdbb0e7edfa3060eff7c9d0612b0fd/020d3/images/alphard.jpg"
            style="width:100%">
        <img class="mySlides lazy" class="lazy"
            data-src="https://d33wubrfki0l68.cloudfront.net/416f0fd9eab32dc469cbae4df3097601d6a442c6/4971b/images/alphard8.jpg"
            style="width:100%">
        <img class="mySlides lazy" class="lazy"
            data-src="https://d33wubrfki0l68.cloudfront.net/855ab50aa4876060abaffd20782b8b7e8962407f/e4b06/images/gklassdashboard.jpg"
            style="width:100%">
        <img class="mySlides lazy" class="lazy"
            data-src="https://d33wubrfki0l68.cloudfront.net/56caf5d5b7aea360675629f418d8e7de570603b7/b47cc/images/alphard2.jpg"
            style="width:100%">
        <img class="mySlides lazy" class="lazy"
            data-src="https://d33wubrfki0l68.cloudfront.net/98033f73e059aea814f46d15c8b2964a9e320648/6b4d2/images/alphard6.jpg"
            style="width:100%">
        <img class="mySlides lazy" class="lazy"
            data-src="https://d33wubrfki0l68.cloudfront.net/aacddd946a665b6286943befe7e8f6fe53fadc79/6bbd5/images/mlbutton2.jpg"
            style="width:100%">
        <button class="btn btn-xs btn-outline-primary" onclick="plusDivs(-1)">&#10094;</button>
        <button class="btn btn-xs btn-outline-primary" onclick="plusDivs(1)">&#10095;</button>
    </div>
</div>