<div class="swiper-container" id="s2">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img data-src="https://d33wubrfki0l68.cloudfront.net/c593bb10a20b5d6ce21d7c9ce3cc91392fb1ae41/52b85/images/markindonesiaa.jpg"
                alt="Mark Auto Detailing" class="lazy img-responsive" width="100%">
        </div>
        <div class="swiper-slide">
            <img data-src="https://d33wubrfki0l68.cloudfront.net/138d47d095218cc67737352745604fb82e7ee7c7/99d17/images/markindonesia3.jpg"
                alt="Nano Ceramic" class="lazy img-responsive" width="100%">
        </div>
        <div class="swiper-slide">
            <img data-src="https://d33wubrfki0l68.cloudfront.net/7fd4d20fa0816bc4757ece454621d9644207ea8f/0ee72/images/markindonesia22.jpg"
                alt="Nano Ceramic" class="lazy img-responsive" width="100%">
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination" id="swiper-pagination-s2"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next" id="swiper-button-next-s2"></div>
    <div class="swiper-button-prev" id="swiper-button-prev-s2"></div>
</div>