<div class="container-fluid pb-2  pt-4 bg-dark">
    <div class="swiper-container" id="s2">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img data-src="https://d33wubrfki0l68.cloudfront.net/61a32bbd66f9896ac7890b7dd5a1137cbac2424b/1d8f9/images/markindonesia1.jpg"
                    alt="Mark Auto Detailing" class="lazy img-responsive" width="100%">
            </div>
            <div class="swiper-slide">
                <img data-src="https://d33wubrfki0l68.cloudfront.net/0d5cd8bb9a2c09c6de0edf8d4c91e6dfddae2b29/e5280/images/markindonesia2.jpg"
                    alt="Nano Ceramic" class="lazy img-responsive" width="100%">
            </div>
            <div class="swiper-slide">
                <img data-src="https://d33wubrfki0l68.cloudfront.net/1d21d55011313321a4dac1e8c4d1d72fc2e2605b/83894/images/markindonesia3.jpg"
                    alt="Nano Ceramic" class="lazy img-responsive" width="100%">
            </div>
            <div class="swiper-slide">
                <img data-src="https://d33wubrfki0l68.cloudfront.net/49ccc32d2856ce7aad7fb56f2f586744402c49f2/b676f/images/markindonesia4.jpg"
                    alt="Nano Ceramic" class="lazy img-responsive" width="100%">
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination" id="swiper-pagination-s2"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next" id="swiper-button-next-s2"></div>
        <div class="swiper-button-prev" id="swiper-button-prev-s2"></div>
    </div>
</div>