<div class="container-fluid pb-2  pt-4 bg-dark">
    <div class="swiper-container" id="s2">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img data-src="/images/markindonesia1.jpg"
                    alt="Mark Auto Detailing" class="lazy img-responsive" width="100%">
            </div>
            <div class="swiper-slide">
                <img data-src="/images/markindonesia2.jpg"
                    alt="Nano Ceramic" class="lazy img-responsive" width="100%">
            </div>
            <div class="swiper-slide">
                <img data-src="/images/markindonesia3.jpg"
                    alt="Nano Ceramic" class="lazy img-responsive" width="100%">
            </div>
            <div class="swiper-slide">
                <img data-src="/images/markindonesia4.jpg"
                    alt="Nano Ceramic" class="lazy img-responsive" width="100%">
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination" id="swiper-pagination-s2"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next" id="swiper-button-next-s2"></div>
        <div class="swiper-button-prev" id="swiper-button-prev-s2"></div>
    </div>
</div>