
    <div class="countdown alert bg-dark text-danger alert-dismissible text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="text-white"
                aria-hidden="true">&times;</span></button>
        <h3><span class="text-white">MARK</span> <strong>Special Offers</strong> </h3>
        <div class="well bg-white h3 text-dark" id="mark-promo"></div>
        <a target="_blank" href="/promo" class="btn btn-primary countdown">SAFE YOUR MONEY NOW!</a>
    </div>