<div class="countdown alert text-danger alert-dismissible text-center" role="alert">
    <div class="navbar bg-dark navbar-fixed-bottom" style="padding-bottom: 7rem;">
        <button type="button" class="pull-right mt-0" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="mt-3"><span class="text-whit">MARK</span> <strong>Special Offers</strong> end in:</h4>
        <div class="well bg-white h3 text-dark" id="mark-promo"></div>
        <a target="_blank" href="/promo" class="btn btn-primary countdown">SAFE YOUR MONEY NOW!</a>
    </div>
</div>