<nav class="fh5co-nav">
    <!-- <div class="top-menu"> -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center logo-wrap">
                <div id="fh5co-logo"><a href="/"><img alt="Nano Ceramic Coating Terbaik Jakarta picture"
                            title="Coating Mobil Terbaik Jakarta image" src="/images/logo-mark.png" width="300p"></a>
                </div>
            </div>
            <div class="col-xs-12 text-center menu-1 menu-wrap">
                
                <ul>{{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <li class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"><a href="{{.URL}}">{{.Name}}</a></li>
                {{end}}
                </ul>
            </div>
        </div>

    </div>
    <!-- </div> -->
</nav>