<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/images/icon.png" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Params.pagetitle | default .Title}} - {{.Site.Title}}</title>

    <meta name="description" content="Nano Ceramic Coating untuk mobil Terbaik dari Beeds Premium Ceramic Paint Treatment, dengan ketahanan hingga 5 tahun dan bergaransi. Timbulkan karakter asli dari warna mobil Anda, lindungi dengan nano ceramic coating untuk efek Wet Look.">
    <link href="{{.Permalink}}" rel="canonical" />
  
  
  
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/schema.html" . }}

    <link rel="preconnect" href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
  
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://d33wubrfki0l68.cloudfront.net/bundles/a2a4cecb59f7e498ba9e3b1c3f1f161cb73c1c4e.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">
  
  </head>
