<nav class="fh5co-nav" role="navigation">
    <!-- <div class="top-menu"> -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center logo-wrap">
                <div id="fh5co-logo"><a href="/"><img alt="Nano Ceramic Coating Terbaik Jakarta picture"
                            title="Coating Mobil Terbaik Jakarta image" src="/images/logo-mark.png" width="300px"></a>
                </div>
            </div>
            <div class="col-xs-12 text-center menu-1 menu-wrap">
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about-us.html">Nano Ceramic</a></li>
                    <li><a href='/restorasi-interior.html'>Restorasi Interior</a></li>
                    <li class="has-dropdown">
                        <a>Gallery</a>
                        <ul class="dropdown">
                            <li><a href="/before-after.html">Before | After</a></li>
                        </ul>
                    </li>
                    <li><a href="/video.html">Proses Coating</a></li>
                    <li><a href="/price-list.html">Price List</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </div>
        </div>

    </div>
    <!-- </div> -->
</nav>