<div class="baru" id="benefits">
    <div class="container text-center" style="padding-bottom: 3em">
        <h3 class="text-white text-left">MARK <strong>BENEFITS</strong></h3>
        <div class="tabs">
            <input type="radio" id="tab1" name="tab-control" checked>
            <input type="radio" id="tab2" name="tab-control">
            <input type="radio" id="tab3" name="tab-control">
            <input type="radio" id="tab4" name="tab-control">
            <ul>
                <li title="Efek Daun Talas"><label for="tab1" role="button">
                        <img class="lazy" data-src="https://d33wubrfki0l68.cloudfront.net/ae064f3e9b9d69403235a82db731c442b2879625/86a99/images/logo-wipeless.png" width="50px">
                        <p style="color: white; margin: 0; line-height: 14px; font-size: 14px; margin-top:10px;">
                            Efek Daun Talas</p>
                        <br><span>Hydrophobic</span>
                    </label>
                </li>
                <li title="Anti Gores"><label for="tab2" role="button">
                        <img class="lazy" data-src="https://d33wubrfki0l68.cloudfront.net/62ace1e1bb7139fd7bbb3231d0c2eb5bcab8c784/48032/images/logo-coating-interior.png" width="50px">
                        <p style="color: white; margin: 0; line-height: 14px; font-size: 14px;margin-top:10px">
                            Swirls Resistance</p>
                        <br><span>Meningkatkan daya tahan gores</span>
                    </label>
                </li>
                <li title="Deep Wet Gloss"><label for="tab3" role="button">
                        <img class="lazy" data-src="https://d33wubrfki0l68.cloudfront.net/7e132dc3fe2608e9bbf47e69d3f28b571c700247/b8763/images/logo-anti-gores-handle.png" width="50px">
                        <p style="color: white; margin: 0; line-height: 14px; font-size: 14px; margin-top:10px">
                            Efek Deep Wet Gloss</p>
                        <br><span>Extreme Gloss</span>
                    </label>
                </li>
                <li title="Greater Color"><label for="tab4" role="button">
                        <img class="lazy" data-src="https://d33wubrfki0l68.cloudfront.net/f5484ee9a8ef2a79654161464fb3617b8dc5e3ee/65281/images/logo-anti-fog-spion.png" width="50px">
                        <p style="color: white; margin: 0; line-height: 14px; font-size: 14px; margin-top:10px">
                            Warna Jadi Abadi</p>
                        <br><span>Chemical Resistance</span>
                    </label>
                </li>
            </ul>

            <div class="slider">
                <div class="indicator"></div>
            </div>
            <div class="content">
                <section>
                    <h2>200% More Hydrophobic</h2>
                    <div class="col-md-4">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/jqgMzfL1qYw"
                                frameborder="0"
                                srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/jqgMzfL1qYw?autoplay=1><img src=https://img.youtube.com/vi/jqgMzfL1qYw/hqdefault.jpg> <span>▶</span></a>"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                            </iframe>
                        </div>


                    </div>
                    <div class="col-md-8"><br>Repels water from your paint like it was going out of fashion.
                    </div>
                </section>
                <section>
                    <h2>60% More Scratch Resistence</h2>
                    <div class="col-md-4">

                        <div class="embed-responsive embed-responsive-4by3" style="width:100%">
                            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/wX--zlCwU80"
                                frameborder="0"
                                srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/wX--zlCwU80?autoplay=1><img src=https://img.youtube.com/vi/wX--zlCwU80/hqdefault.jpg> <span>▶</span></a>"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                            </iframe>
                        </div>

                    </div>
                    <div class="col-md-8"><br>Helps keep your paint protected from swirls and scratches.</div>
                </section>
                <section>
                    <h2>Insane Gloss Technology</h2>
                    <div class="col-md-4">
                        <div class="embed-responsive embed-responsive-4by3" style="width:100%">
                            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/QlQr9ooIY9o"
                                frameborder="0"
                                srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/QlQr9ooIY9o?autoplay=1><img src=https://img.youtube.com/vi/QlQr9ooIY9o/hqdefault.jpg> <span>▶</span></a>"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div class="col-md-8"><br>Amazing long lasting candy-like gloss. Get the just-detailed look
                        every moment!</div>
                </section>
                <section>
                    <h2>Chemical Resistence</h2>
                    <div class="col-md-4"> <img class="lazy" data-src="https://d33wubrfki0l68.cloudfront.net/ea37f71e04f4007b9b74b7526c10cda5da1c928b/7ab4e/images/fitur4.jpg" width="100%"> </div>
                    <div class="col-md-8"><br>Creates a durable glass like membrane to provide extreme protection
                        against the elements.</div>
                </section>
            </div>
        </div>
    </div>
</div>