<script>
    var swiper = new Swiper('#s1', {
        slidesPerView: 1,
        spaceBetween: 15,
        grabCursor: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            640: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            768: {
                slidesPerView: 3,
                spaceBetween: 40,
            },
            1024: {
                slidesPerView: 4,
                spaceBetween: 50,
            },
        }
    });
    var Carousel = new Swiper('#s2', {
        centeredSlides: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
        pagination: {
            el: '#swiper-pagination-s2',
            clickable: true,
        },
        navigation: {
            nextEl: '#swiper-button-next-s2',
            prevEl: '#swiper-button-prev-s2',
        },
    });
</script>