<h2 class="text-dark">MARK <strong>TESTIMONY</strong></h2>
<!-- Swiper -->
<div class="swiper-container bg-dark">
    <div class="text-center"><h3>Our Happy Customers</h3></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img class="lazy" src="" data-src="https://d33wubrfki0l68.cloudfront.net/5d5b5e3a8b59d04e7dc684bdcb7d5a98f4f8337c/c5073/images/testimoni/img-20180124-wa0022.png" />
        </div>
        <div class="swiper-slide"><img class="lazy" src="" data-src="https://d33wubrfki0l68.cloudfront.net/6ff43968ceb493693dd8557df8bf924061099f88/c944e/images/testimoni/img-20180124-wa0019.png" />
        </div>
        <div class="swiper-slide"><img class="lazy" src="" data-src="https://d33wubrfki0l68.cloudfront.net/ceb6348e0986e6d010b1a50039ecc64e9f66de9d/9f532/images/testimoni/screenshot_2018-01-16-18-19-00-90.png" />
        </div>
        <div class="swiper-slide"><img class="lazy" src="" data-src="https://d33wubrfki0l68.cloudfront.net/7b6f924bcb2e3a1d73369b56778d41556597a07a/66ea8/images/testimoni/screenshot_2018-01-17-19-46-01-82.png" />
        </div>
        <div class="swiper-slide"><img class="lazy" src="" data-src="https://d33wubrfki0l68.cloudfront.net/061e847b705687c191983fd0f421d74ff436bd53/bb7ee/images/testimoni/screenshot_2018-01-17-19-49-28-83.png" />
        </div>
        <div class="swiper-slide"><img class="lazy" src="" data-src="https://d33wubrfki0l68.cloudfront.net/b5e4a3c2be47f69f2db4541458277c5344b7dc99/097be/images/testimoni/screenshot_2018-01-17-19-49-08-80.png" />
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
</div>