<div class="container" id="trusted">
    <h2 style="margin-top: 40px; text-align: right;"><strong>Trusted & Great Result</strong>Proven</h2>

    <div style="text-align:center">
        <p style="font-size: 12px; margin-bottom: 12px text-interhit">Klik Gambar dibawah untuk Perbesar:</p>
    </div>

    <!-- The four columns -->
    <div class="tabbedimage">
        <div class="row">
            <div class="column">
                <img class="lazy" data-src="/images/richard-muljadi.jpg" alt="Richard Muljadi" style="width:100%"
                    onclick="myFunction(this);">
            </div>
            <div class="column">
                <img class="lazy" data-src="/images/daraarafah.jpg" alt="Dara Arafah" style="width:100%"
                    onclick="myFunction(this);">
            </div>
            <div class="column">
                <img class="lazy" data-src="/images/fey.jpg" alt="Fey" style="width:100%" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img class="lazy" data-src="/images/jess.jpg" alt="Jessica Angelica" style="width:100%"
                    onclick="myFunction(this);">
            </div>
        </div><br>

        <div class="container">
            <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
            <img id="expandedImg" style="width:100%">
            <div id="imgtext"></div>
        </div>
    </div>
    <h3 id="demo">High Class & <strong>Tested Product</strong> (Demo)</h3>
    <div style="margin : 0 ; padding: 0; border: 3px solid black; border-radius: 5px; ">
        <div class="col-md-6 col-md-4" style="padding: 0; " data-animate-effect="fadeInLeft">
            <br>
            <strong>
                <p style="margin:0;">Self Cleaning & Hydrophobic Effect</p>
            </strong>
            <br>
            <div class="embed-responsive embed-responsive-4by3" width="100%">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/bhM18cq0xbg" frameborder="0"
                    srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/bhM18cq0xbg?autoplay=1><img src=https://img.youtube.com/vi/bhM18cq0xbg/hqdefault.jpg> <span>▶</span></a>"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            <br>
        </div>
        <div class="col-md-6 col-md-4" style="padding: 0;  " data-animate-effect="fadeInLeft">
            <br>
            <strong>
                <P style="margin:0">Designed for Extreme Weather</P>
            </strong>
            <br>
            <div class="embed-responsive embed-responsive-4by3" width="100%"><iframe width="560" height="315"
                    src="https://www.youtube.com/embed/4jQL1Nqqkjc" frameborder="0"
                    srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/4jQL1Nqqkjc?autoplay=1><img src=https://img.youtube.com/vi/4jQL1Nqqkjc/hqdefault.jpg> <span>▶</span></a>"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <br>
        </div>
    </div>
</div>